@import url("https://fonts.googleapis.com/css");
:root {
  --animation-duration__1: 200ms;
  --animation-duration__2: 500ms;
  --animation-duration__3: 700ms;
  --animation-duration__4: 1000ms;
  --animation-duration__5: 1200ms;
}

@keyframes growX {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  80% {
    transform: scaleX(1.2);
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}
@keyframes grow {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeinhalf {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes lefttoright {
  0% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes beating {
  0% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes button {
  0% {
    transform: scaleX(1);
    transform: scaleY(1);
  }
  350% {
    transform: scaleX(1.02);
  }
  40% {
    transform: scaleY(1.06);
  }
  50% {
    transform: scaleX(0.98);
  }
  65% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
    transform: scaleX(1);
  }
}
:root {
  --passion5: #ff0000;
  --passion4: #ff5e5e;
  --passion3: #e99b9b;
  --passion2: #d8b9b9;
  --passion1: #f2dddd;
  --theory5: #5315ff;
  --theory4: #785cdd;
  --theory3: #a098e7;
  --theory2: #9a95ce;
  --theory1: #ebe2fa;
  --practice5: #16bec7;
  --practice4: #45d9e0;
  --practice3: #8eecf1;
  --practice2: #c8f3f5;
  --practice1: #d2f0f5;
}

.sort[data-sort=passion]::before,
.stat-wrap.passion .icon::before {
  font-family: "FA5";
  content: "\f004";
  margin-right: 6px;
}

.sort[data-sort=theory]::before,
.stat-wrap.theory .icon::before {
  font-family: "FA5";
  content: "\f518";
  margin-right: 6px;
}

.sort[data-sort=practice]::before,
.stat-wrap.practice .icon::before {
  font-family: "FA5";
  content: "\f091";
  margin-right: 6px;
}

.sort-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sort {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  margin: 0.5em;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 1em;
  font-weight: 600;
  font-family: "Roboto";
  color: var(--color1-normal);
  transition: 200ms ease-out;
}

@media only screen and (max-width: 767px) {
  span.sort {
    margin: 0.2rem;
  }
  ul.list h3 {
    margin-top: 1.25em !important;
  }
}
.contact .btn:hover {
  color: var(--color1-normal);
  box-shadow: 1px 1px 8px var(--color-nums-shadow);
}

.sort.selected-sort {
  animation: beating var(--animation-duration__4) cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  box-shadow: 1px 1px 8px var(--color-nums-shadow);
  color: var(--color-typo-primary);
}

[data-sort].selected-sort::after {
  content: "\f160";
  font-family: "FA5";
  color: var(--color-typo-primary);
  margin-left: 0.5em;
  transition-delay: 0.1s;
  animation: grow var(--animation-duration__2);
}

.sort:hover {
  color: var(--color1-lighter);
  cursor: pointer;
}

.sort[data-sort=passion]:hover {
  color: var(--passion4);
  background-color: var(--passion1);
}

.sort[data-sort=theory]:hover {
  color: var(--theory4);
  background-color: var(--theory1);
}

.sort[data-sort=practice]:hover {
  color: var(--practice4);
  background-color: var(--practice1);
}

.sort[data-sort=passion].selected-sort {
  background-color: var(--passion5);
  color: var(--color-typo-primary);
}
.sort[data-sort=passion].selected-sort:hover {
  color: var(--color-typo-primary);
}

.sort[data-sort=theory].selected-sort {
  background-color: var(--theory5);
  color: var(--color-typo-primary);
}
.sort[data-sort=theory].selected-sort:hover {
  color: var(--color-typo-primary);
}

.sort[data-sort=practice].selected-sort {
  background-color: var(--practice5);
  color: var(--color-typo-primary);
}
.sort[data-sort=practice].selected-sort:hover {
  color: var(--color-typo-primary);
}

.skills li {
  position: relative;
  display: inline-block;
  list-style: none;
  border-bottom: 1.5px solid var(--color-bg-ghost);
  position: relative;
  background-color: var(--color-bg-default);
}

ul.list h3 {
  z-index: 100;
  color: hsla(var(--base1), 20%, 50%, 85%) !important;
  margin-top: 4em;
  line-height: 3em;
  font-size: 1.25em;
  font-weight: 800;
  position: relative;
  margin-left: 1rem;
  animation: lefttoright 0.4s, ease-in-out, fadein var(--animation-duration__2) cubic-bezier(0.77, 0, 0.175, 1);
}

.skill-item::before {
  position: absolute;
  content: "";
  width: 65%;
  height: 100%;
  margin-left: auto;
  right: 0;
  z-index: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  box-shadow: inset 12px 12px 24px 24px var(--color-bg-default);
}

.bg {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  bottom: 0;
  background-color: var(--color-bg-default);
  opacity: 0.5;
  z-index: 1;
  transition: all 100ms ease;
}

.skill-item:hover .bg {
  opacity: 15;
  background-color: var(--color-bg-ghost);
}

.stats {
  position: relative;
  z-index: 100;
}

.stat-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  z-index: -1;
  overflow: hidden;
}

.stat-container::before {
  content: "";
  background-color: var(--color-bg-secondary);
  opacity: 0.8;
  position: absolute;
  width: 100%;
  height: 100%;
}

.stat-wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.6em;
  margin: 0.5em;
  z-index: 1;
}

.icon {
  font-size: 1em;
  animation: fadein linear 200ms;
  font-weight: 900;
}

.bar-bg {
  border: 1px solid var(--color-bg-border);
  background-color: var(--color-bg-default);
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 1.25em;
  box-shadow: inset 0px 0px 0.5px 1px var(--color-nums-shadow);
}

.bar {
  background-color: var(--color-bg-border);
  border: 0.75px solid var(--color-bg-ghost);
  box-shadow: inset 1px 1px 2px 3px var(--color-bg-secondary);
  width: 0;
  transform-origin: left;
  animation-fill-mode: forwards;
  opacity: 0;
}

.bar-color {
  opacity: 1;
  transition: 600ms;
  box-shadow: 1px 1px 1px var(--color-bg-shadow);
  border: 1px solid var(--color-bg-border);
  height: 100%;
  width: 100%;
  margin: 0.175em;
  border-radius: 1rem;
  overflow: hidden;
  animation: growX cubic-bezier(0.6, -0.28, 0.735, 0.045);
  box-shadow: inset 1px 1px 4px 1px rgba(255, 255, 255, 0.25);
}

@media (prefers-color-scheme: dark) {
  .bar-color {
    box-shadow: inset 1px 1px 2px 1px var(--color-bg-ghost) !important;
  }
  [data-practice="3"] .bar-color,
  [data-practice="4"] .bar-color,
  [data-practice="5"] .bar-color,
  [data-passion="3"] .bar-color,
  [data-passion="4"] .bar-color,
  [data-passion="5"] .bar-color {
    box-shadow: inset 1px 1px 2.5px 1px rgba(255, 255, 255, 0.2) !important;
  }
}
[data-passion~="5"] .bar-color,
[data-theory~="5"] .bar-color,
[data-practice~="5"] .bar-color,
[data-passion~="5"] .icon,
[data-theory~="5"] .icon,
[data-practice~="5"] .icon {
  animation-duration: var(--animation-duration__5);
}

[data-passion~="4"] .bar-color,
[data-theory~="4"] .bar-color,
[data-practice~="4"] .bar-color,
[data-passion~="4"] .icon,
[data-theory~="4"] .icon,
[data-practice~="4"] .icon {
  animation-duration: var(--animation-duration__4);
}

[data-passion~="3"] .bar-color,
[data-theory~="3"] .bar-color,
[data-practice~="3"] .bar-color,
[data-passion~="3"] .icon,
[data-theory~="3"] .icon,
[data-practice~="3"] .icon {
  animation-duration: var(--animation-duration__3);
}

[data-passion~="2"] .bar-color,
[data-theory~="2"] .bar-color,
[data-practice~="2"] .bar-color,
[data-passion~="2"] .icon,
[data-theory~="2"] .icon,
[data-practice~="2"] .icon {
  animation-duration: var(--animation-duration__2);
}

[data-passion~="1"] .bar-color,
[data-theory~="1"] .bar-color,
[data-practice~="1"] .bar-color,
[data-passion~="1"] .icon,
[data-theory~="1"] .icon,
[data-practice~="1"] .icon {
  animation-duration: var(--animation-duration__1);
}

[data-passion="5"] .bar-color {
  background-color: var(--passion5);
  width: 93%;
  color: var(--passion1);
}
[data-passion="5"] .icon {
  color: var(--passion5);
  animation: beating 1.2s infinite ease-in-out;
  transform-origin: center;
}

[data-passion="4"] .bar-color {
  background-color: var(--passion4);
  width: 80%;
}
[data-passion="4"] .icon {
  color: var(--passion4);
}

[data-passion="3"] .bar-color {
  background-color: var(--passion3);
  width: 60%;
}
[data-passion="3"] .icon {
  color: var(--passion3);
}

[data-passion="2"] .bar-color {
  background-color: var(--passion2);
  width: 40%;
}
[data-passion="2"] .icon {
  color: var(--passion2);
}

[data-passion="1"] .bar-color {
  background-color: var(--passion1);
  width: 20%;
}
[data-passion="1"] .icon {
  color: var(--passion1);
}

[data-theory="5"] .bar-color {
  background-color: var(--theory5);
  width: 93%;
}
[data-theory="5"] .icon {
  color: var(--theory5);
}

[data-theory="4"] .bar-color {
  background-color: var(--theory4);
  width: 80%;
}
[data-theory="4"] .icon {
  color: var(--theory4);
}

[data-theory="3"] .bar-color {
  background-color: var(--theory3);
  width: 60%;
}
[data-theory="3"] .icon {
  color: var(--theory3);
}

[data-theory="2"] .bar-color {
  background-color: var(--theory2);
  width: 40%;
}
[data-theory="2"] .icon {
  color: var(--theory2);
}

[data-theory="1"] .bar-color {
  background-color: var(--theory1);
  width: 20%;
}
[data-theory="1"] .icon {
  color: var(--theory1);
}

[data-practice="5"] .bar-color {
  background-color: var(--practice5);
  width: 93%;
}
[data-practice="5"] .icon {
  color: var(--practice5);
}

[data-practice="4"] .bar-color {
  background-color: var(--practice4);
  width: 80%;
}
[data-practice="4"] .icon {
  color: var(--practice4);
}

[data-practice="3"] .bar-color {
  background-color: var(--practice3);
  width: 60%;
}
[data-practice="3"] .icon {
  color: var(--practice3);
}

[data-practice="2"] .bar-color {
  background-color: var(--practice2);
  width: 40%;
}
[data-practice="2"] .icon {
  color: var(--practice2);
}

[data-practice="1"] .bar-color {
  background-color: var(--practice1);
  width: 20%;
}
[data-practice="1"] .icon {
  color: var(--practice1);
}

.skill-item#UX::before {
  background-image: url("../images/ux.jpg");
}

.skill-item#UI::before {
  background-image: url("../images/ui.jpg");
}

.skill-item#Indesign::before {
  background-image: url("../images/id.jpg");
}

.skill-item#Illustrator::before {
  background-image: url("../images/ai.jpg");
}

.skill-item#CSS::before {
  background-image: url("../images/css.jpg");
}

.skill-item#Responsive\ Design::before {
  background-image: url("../images/resp.jpg");
}

.skill-item#Lottie\ Animation::before {
  background-image: url("../images/lottie.jpg");
}

.skill-item#Industrial\ Design::before {
  background-image: url("../images/indu.jpg");
}

.skill-item#\ 3D\ Printing::before {
  background-image: url("../images/3D.jpg");
}

.skill-item#Architecture\ 3D\ Modeling::before {
  background-image: url("../images/visu.jpg");
}

.skill-item#Character\ Design::before {
  background-image: url("../images/char.jpg");
}

.skill-item#Wordpress::before {
  background-image: url("../images/wp.jpg");
}

.skill-item#Coffee::before {
  background-image: url("../images/coffee.jpg");
}

.skill-item#JavaScript::before {
  background-image: url("../images/js.jpg");
}

.skill-item#After\ Effects::before {
  background-image: url("../images/ae.jpg");
}

.skill-item#Figma::before {
  background-image: url("../images/figma.jpg");
}

.skill-item#Color\ Theory::before {
  background-image: url("../images/color.jpg");
}

.skill-item#Logo\ Design::before {
  background-image: url("../images/logo.jpg");
}

.skill-item#Psychology::before {
  background-image: url("../images/psy.jpg");
}

.skill-item#Electronics::before {
  background-image: url("../images/arduino.jpg");
}

.skill-item#Illustration::before {
  background-image: url("../images/illustration.jpg");
}

.skill-item#React::before {
  background-image: url("../images/react.png");
}

.my-id {
  display: flex;
  justify-content: stretch;
  flex-direction: row;
}

#skills-header {
  display: none;
}

@media (max-width: 767px) {
  #skills-header {
    display: block;
    text-align: center;
    width: auto;
    padding: 1em 0;
    font-family: overpass;
    font-weight: 600;
    font-size: 2rem;
  }
  .my-id {
    flex-direction: column;
  }
  .my-id #share {
    margin-top: -2em;
  }
  .contact-wrap {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    bottom: 0;
    top: 0;
  }
  .left-sticky {
    height: 80vh;
  }
}
.left-sticky {
  background-color: var(--color-bg-default);
  width: 100%;
}

@media (min-width: 767px) {
  .my-info {
    position: -webkit-sticky; /* Safari */
    top: 0em;
    z-index: 150;
    position: sticky;
    bottom: 0;
  }
}
.contact-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 87px;
  background-color: var(--color-bg-default);
  box-shadow: 1px 1px 2px var(--button1-box-shadow);
  border-bottom: 1px solid var(--color-bg-border);
  z-index: 10;
  padding: 1em;
  color: var(--color-control-typo-default);
}
.contact-wrap ul {
  margin-right: auto;
  position: absolute;
}
.contact-wrap li {
  font-family: "FA5-B";
  border-radius: 6px;
  margin: 0.25em;
}
.contact-wrap li i {
  padding: 1em;
  color: var(--button1-background-color-hover);
}
.contact-wrap li:hover {
  box-shadow: 0 0 6px var(--color2-normal);
  animation-name: beating;
  animation-duration: 100ms;
}
.contact-wrap li:hover i {
  color: var(--color2-darker);
}
.contact-wrap .label {
  margin-right: auto;
}

ul.contact {
  display: flex;
  justify-content: center;
  list-style: none;
}

.my-info {
  background: var(--color-bg-default);
  width: 100%;
  max-width: 1280px/2;
}

.about {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: var(--color-bg-ghost);
  height: calc(100vh - 102px) !important;
}

.name {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.name h1 {
  color: hsla(var(--base1), 60%, 55%, 85%) !important;
  font-weight: 500;
  font-family: "Ubuntu";
  text-shadow: 0 0 7px hsla(var(--base1), 40%, 30%, 25%);
}
.name span {
  color: hsla(var(--base1), 50%, 55%, 80%);
}

.pic {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: var(--color-bg-brand);
  z-index: 1;
  margin: 1em;
  background-size: 102.5px;
  background-position: center;
  background-image: url("../images/profile_photo-120x120.jpg");
  border: 2.5px solid hsl(var(--base1), 60%, 35%, 75%);
  box-shadow: 0 5px 8px hsl(var(--base1), 20%, 50%, 20%);
}

.status p {
  color: hsl(var(--base1), 40%, 60%, 80%);
  font-family: overpass;
  font-weight: 200;
  flex-shrink: 0.25;
  width: auto;
  margin: 1em 1em;
  background-color: var(--color-bg-default);
  font-size: 1.25rem;
  line-height: 1.25rem;
  padding: 1ch;
  border-radius: 48px;
  text-align: center;
}

@media (max-width: 1024px) {
  .sentence {
    font-size: 0.9em !important;
  }
  .contact-wrap span.label {
    display: none;
    visibility: hidden;
  }
}
.buttons-wrapper {
  padding: 1rem 0 1.5rem 0;
  width: 66%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin: 0.75em;
  font-family: "roboto";
  font-size: 1rem;
  white-space: nowrap;
  padding: 1rem;
  transition: var(--animation-duration__2) ease-in-out;
}
.btn:hover {
  cursor: pointer;
  animation-duration: var(--animation-duration__2);
  animation-name: button;
}

.btn1 {
  color: var(--button1-color);
  border: var(--button1-border);
  background-color: var(--button1-background-color);
}
.btn1:hover {
  background-color: var(--button1-background-color-hover);
  color: var(--button1-color-hover);
  border: var(--button1-border-hover);
  box-shadow: var(--button1-box-shadow);
}
.btn1 i {
  margin-left: 1em;
}

.btn2 {
  background-color: var(--button2-background-color);
  color: var(--button2-color);
  border: var(--button2-border);
}
.btn2:hover {
  background-color: var(--button2-background-color-hover);
  color: var(--button2-color-hover);
  border: var(--button2-border-hover);
}
.btn2 i {
  margin-left: 1em;
}

.btn3 {
  font-size: 0.85rem;
  padding: 0.25rem;
  color: var(--color-typo-link);
  background-color: var(--button3-background-color);
  color: var(--button3-color);
  border: var(--button3-border);
}
.btn3:hover {
  background-color: var(--button3-background-color-hover);
  color: var(--button3-color-hover);
}
.btn3 i {
  margin-left: 1em;
}

#magic {
  transform: translateY(250px);
}

#skills {
  max-width: 1280px/2;
  width: 100%;
}

#skills-navigation {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 150;
  background-color: var(--color-bg-default);
  box-shadow: 1px 1px 2px var(--color-control-bg-secondary);
  border-bottom: 1px solid var(--color-bg-border);
}

.skills li {
  width: 100%;
}

.ss-box {
  margin-top: 0em;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
  width: auto;
  width: 100%;
  top: 0;
  background-color: var(--color-bg-default);
  padding: 1em 0;
}
.ss-box * {
  text-decoration: none;
}
.ss-box .ss-btn {
  width: 40%;
  margin: 0.25em;
  padding: 0.25em;
  font-size: minmax(1vw, 1.25rem);
}

.random-sentence {
  background-color: var(--color-bg-default);
  display: flex;
  justify-content: center;
  padding: 10%;
}

.message-me-wrapper,
.share-me-wrapper {
  display: block;
  position: absolute;
  z-index: 10;
  transform: scaleY(0);
  opacity: 0;
}
.message-me-wrapper .ss-box,
.share-me-wrapper .ss-box {
  opacity: 1;
  visibility: visible;
  height: auto;
  transform: scaleY(1);
  transition: all var(--animation-duration__5);
}
.message-me-wrapper.active,
.share-me-wrapper.active {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--color-bg-default);
  transform: scaleY(1);
  transform-origin: bottom;
  animation-duration: var(--animation-duration__4);
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: all var(--animation-duration__4);
}
.message-me-wrapper .close-this,
.share-me-wrapper .close-this {
  color: var(--color-typo-link);
  float: right;
  clear: both;
  margin-right: 5vw;
  transform: scale(1.5);
}
.message-me-wrapper .close-this:hover,
.share-me-wrapper .close-this:hover {
  color: var(--color-control-bg-typo-primary-hover);
  animation-name: beating;
  animation-duration: var(--animation-duration__2);
}
.message-me-wrapper .content,
.share-me-wrapper .content {
  margin: 5vh;
  height: auto;
}

textarea.wpcf7-form-control.wpcf7-textarea {
  height: 100px;
}

input[type=date],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
select,
textarea {
  background-color: var(--color-bg-secondary);
  color: var(--color1-light);
}

@font-face {
  font-family: "FA5";
  src: url("../webfonts/fa-solid-900.woff2");
}
@font-face {
  font-family: "FA5-B";
  src: url("../webfonts/fa-brands-400.woff2");
}
* {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  font-family: "Roboto";
}

a {
  text-decoration: none;
}

/*# sourceMappingURL=index.css.map */
