:root 
{
--passion5: #ff0000;
--passion4: #ff5e5e;
--passion3: #e99b9b;
--passion2: #d8b9b9;
--passion1: #f2dddd;
--theory5: #5315ff;
--theory4: #785cdd;
--theory3: #a098e7;
--theory2: #9a95ce;
--theory1: #ebe2fa;
--practice5: #16bec7;
--practice4: #45d9e0;
--practice3: #8eecf1;
--practice2: #c8f3f5;
--practice1: #d2f0f5;
}